<?xml version="1.0"?>
<!--
/**
 * Slider
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="slava_yurthev" translate="label" sortOrder="1000">
			<label>Slider</label>
		</tab>

		<section id="sy_slider" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
			<class>separator-top</class>
			<label>Slider</label>
			<tab>slava_yurthev</tab>
			<resource>SY_Slider::configuration</resource>
			<group id="options" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Options</label>
				<field id="auto" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Auto</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Slides will automatically transition</comment>
				</field>
				<field id="controls" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Controls</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="pager" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Pager</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="adaptiveHeight" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>adaptiveHeight</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="css" translate="label" type="textarea" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>CSS</label>
				</field>
			</group>
		</section>
	</system>
</config>